/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._container_k2li3_125 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._container_k2li3_125._small_k2li3_129 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: var(--spacing--4xs) var(--spacing--3xs);
}
._container_k2li3_125._border_k2li3_133 {
  border: var(--border);
  border-radius: var(--radius);
}
._list_k2li3_138 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._item_k2li3_144 {
  border: var(--border-width) var(--border-style) transparent;
  color: var(--color--text--tint-1);
}
._item_k2li3_144._dragging_k2li3_149:hover {
  border: var(--border-width) var(--border-style) var(--color--secondary);
  border-radius: var(--radius);
  background-color: var(--callout--color--background--secondary);
}
._item_k2li3_144._dragging_k2li3_149:hover a {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
._item_k2li3_144 * {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._item_k2li3_144._current_k2li3_165 span {
  color: var(--color--text--shade-1);
}
._ellipsis_k2li3_169 ._dots_k2li3_169,
._ellipsis_k2li3_169 ._tooltip-ellipsis_k2li3_170 {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--color--text);
}
._ellipsis_k2li3_169._disabled_k2li3_175 ._dots_k2li3_169,
._ellipsis_k2li3_169._disabled_k2li3_175 ._tooltip-ellipsis_k2li3_170 {
  cursor: default;
}
._ellipsis_k2li3_169._disabled_k2li3_175 ._dots_k2li3_169 {
  cursor: default;
  color: var(--color--text);
}
._ellipsis_k2li3_169._disabled_k2li3_175 ._dots_k2li3_169:hover {
  color: var(--color--text);
}
._hidden-items-menu_k2li3_187 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color--text);
}
._hidden-items-menu-popper_k2li3_192 > div ul {
  max-height: 250px;
  overflow: auto;
}
._hidden-items-menu-popper_k2li3_192._dragging_k2li3_149 li:hover {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  background-color: var(--callout--color--background--secondary);
}
._hidden-items-menu-popper_k2li3_192 li {
  max-width: var(--spacing--5xl);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
._tooltip-loading_k2li3_208 {
  min-width: var(--spacing--3xl);
  width: 100%;
}
._tooltip-loading_k2li3_208 .n8n-loading > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing--xs);
}
._tooltip-loading_k2li3_208 .el-skeleton__item {
  margin: 0;
}
._tooltip_k2li3_170 {
  padding: var(--spacing--xs) var(--spacing--2xs);
  text-align: center;
}
._tooltip_k2li3_170 > div {
  color: var(--color--text--tint-2);
}
._tooltip_k2li3_170 > div span {
  font-size: var(--font-size--2xs);
}
._tooltip_k2li3_170 ._tooltip-loading_k2li3_208 {
  min-width: var(--spacing--4xl);
}
._dots_k2li3_169 {
  padding: 0 var(--spacing--4xs);
  color: var(--color--text--tint-1);
  border-radius: var(--radius);
}
._dots_k2li3_169:hover, ._dots_k2li3_169:focus {
  background-color: var(--color--background);
  color: var(--color--primary);
}
._small_k2li3_129 ._list_k2li3_138 {
  gap: var(--spacing--5xs);
}
._small_k2li3_129 ._item_k2li3_144 {
  max-width: var(--spacing--3xl);
}
._small_k2li3_129 ._item_k2li3_144,
._small_k2li3_129 ._item_k2li3_144 * {
  color: var(--color--text);
  font-size: var(--font-size--2xs);
  line-height: var(--line-height--xs);
}
._small_k2li3_129 ._item_k2li3_144 a:hover * {
  color: var(--color--text--shade-1);
}
._small_k2li3_129 ._separator_k2li3_260 {
  font-size: var(--font-size--sm);
  color: var(--color--text);
}
._medium_k2li3_265 li {
  padding: var(--spacing--3xs) var(--spacing--4xs) var(--spacing--4xs);
}
._medium_k2li3_265 ._item_k2li3_144,
._medium_k2li3_265 ._item_k2li3_144 * {
  color: var(--color--text);
  font-size: var(--font-size--sm);
}
._medium_k2li3_265 ._item_k2li3_144 {
  max-width: var(--spacing--5xl);
}
._medium_k2li3_265 ._item_k2li3_144:not(._dragging_k2li3_149) a:hover * {
  color: var(--color--text--shade-1);
}
._medium_k2li3_265 ._ellipsis_k2li3_169 {
  padding-right: 0;
  padding-left: 0;
  color: var(--color--text--tint-1);
}
._medium_k2li3_265 ._ellipsis_k2li3_169:hover {
  color: var(--color--text);
}
._medium_k2li3_265 ._separator_k2li3_260 {
  font-size: var(--font-size--xl);
  color: var(--color--foreground);
}