/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._callout_i8e16_125 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: var(--font-size--2xs);
  padding: var(--spacing--xs);
  border: var(--border-width) var(--border-style);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: var(--line-height--xl);
  border-color: var(--callout--border-color--info);
  background-color: var(--callout--color--background--info);
  color: var(--callout--color--text--info);
}
._callout_i8e16_125._slim_i8e16_137 {
  line-height: var(--line-height--xl);
  padding: var(--spacing--3xs) var(--spacing--2xs);
}
._callout_i8e16_125 a {
  color: var(--link--color--secondary);
  font-weight: var(--font-weight--medium);
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
._round_i8e16_152 {
  border-radius: var(--radius);
}
._onlyBottomBorder_i8e16_156 {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
._messageSection_i8e16_162 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._info_i8e16_167,
._custom_i8e16_168 {
  border-color: var(--callout--border-color--info);
  background-color: var(--callout--color--background--info);
  color: var(--callout--color--text--info);
}
._info_i8e16_167 ._icon_i8e16_173,
._custom_i8e16_168 ._icon_i8e16_173 {
  color: var(--callout--icon-color--info);
}
._success_i8e16_178 {
  border-color: var(--callout--border-color--success);
  background-color: var(--callout--color--background--success);
  color: var(--callout--color--text--success);
}
._success_i8e16_178 ._icon_i8e16_173 {
  color: var(--callout--icon-color--success);
}
._warning_i8e16_187 {
  border-color: var(--callout--border-color--warning);
  background-color: var(--callout--color--background--warning);
  color: var(--callout--color--text--warning);
}
._warning_i8e16_187 ._icon_i8e16_173 {
  color: var(--callout--icon-color--warning);
}
._danger_i8e16_196 {
  border-color: var(--callout--border-color--danger);
  background-color: var(--callout--color--background--danger);
  color: var(--callout--color--text--danger);
}
._danger_i8e16_196 ._icon_i8e16_173 {
  color: var(--callout--icon-color--danger);
}
._icon_i8e16_173 {
  line-height: 1;
  margin-right: var(--spacing--xs);
}
._secondary_i8e16_210 {
  font-size: var(--font-size--2xs);
  font-weight: var(--font-weight--bold);
  border-color: var(--callout--border-color--secondary);
  background-color: var(--callout--color--background--secondary);
  color: var(--callout--color--text--secondary);
}
._secondary_i8e16_210 ._icon_i8e16_173 {
  color: var(--callout--icon-color--secondary);
}