/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._bold_8kitt_125 {
  font-weight: var(--font-weight--bold);
}
._regular_8kitt_129 {
  font-weight: var(--font-weight--regular);
}
._size-2xlarge_8kitt_133 {
  font-size: var(--font-size--2xl);
  line-height: var(--line-height--sm);
}
._size-xlarge_8kitt_138 {
  font-size: var(--font-size--xl);
  line-height: var(--line-height--sm);
}
._size-large_8kitt_143 {
  font-size: var(--font-size--lg);
  line-height: var(--line-height--lg);
}
._size-medium_8kitt_148 {
  font-size: var(--font-size--md);
  line-height: var(--line-height--lg);
}
._size-small_8kitt_153 {
  font-size: var(--font-size--sm);
  line-height: var(--line-height--md);
}
._step-4xs_8kitt_158 {
  font-size: var(--font-size--4xs);
  line-height: var(--line-height--xs);
  letter-spacing: var(--letter-spacing--normal);
}
._step-3xs_8kitt_164 {
  font-size: var(--font-size--3xs);
  line-height: var(--line-height--sm);
  letter-spacing: var(--letter-spacing--normal);
}
._step-2xs_8kitt_170 {
  font-size: var(--font-size--2xs);
  line-height: var(--line-height--md);
  letter-spacing: var(--letter-spacing--normal);
}
._step-xs_8kitt_176 {
  font-size: var(--font-size--xs);
  line-height: var(--line-height--md);
  letter-spacing: var(--letter-spacing--normal);
}
._step-sm_8kitt_182 {
  font-size: var(--font-size--sm);
  line-height: var(--line-height--lg);
  letter-spacing: var(--letter-spacing--normal);
}
._step-md_8kitt_188 {
  font-size: var(--font-size--md);
  line-height: var(--line-height--lg);
  letter-spacing: var(--letter-spacing--normal);
}
._step-lg_8kitt_194 {
  font-size: var(--font-size--lg);
  line-height: var(--line-height--xl);
  letter-spacing: var(--letter-spacing--normal);
}
._step-xl_8kitt_200 {
  font-size: var(--font-size--xl);
  line-height: var(--line-height--xl);
  letter-spacing: var(--letter-spacing--normal);
}
._step-2xl_8kitt_206 {
  font-size: var(--font-size--2xl);
  line-height: var(--line-height--xl);
  letter-spacing: var(--letter-spacing--tight);
}
._primary_8kitt_212 {
  color: var(--color--primary);
}
._text-dark_8kitt_216 {
  color: var(--text-color);
}
._text-base_8kitt_220 {
  color: var(--text-color--subtle);
}
._text-light_8kitt_224 {
  color: var(--text-color--subtler);
}
._text-xlight_8kitt_228 {
  color: var(--color--text--tint-3);
}
._danger_8kitt_232 {
  color: var(--color--danger);
}
._align-left_8kitt_236 {
  text-align: left;
}
._align-right_8kitt_240 {
  text-align: right;
}
._align-center_8kitt_244 {
  text-align: center;
}