/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._notice_z7urf_125 {
  font-size: var(--font-size--2xs);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--notice--color--text);
  margin: var(--notice--margin, var(--spacing--sm) 0);
  padding: var(--spacing--2xs);
  background-color: var(--notice--color--background);
  border-width: 1px 1px 1px 7px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: var(--radius--sm);
  line-height: var(--line-height--sm);
}
._notice_z7urf_125 a {
  font-weight: var(--font-weight--bold);
}
._notice_z7urf_125 ul {
  padding-left: var(--spacing--lg);
  margin: var(--spacing--xs) 0;
}
._notice_z7urf_125 li {
  margin-bottom: var(--spacing--4xs);
}
._warning_z7urf_149 {
  --border-color: var(--notice--border-color--warning);
  --notice--color--background: var(--notice--color--background--warning);
}
._danger_z7urf_154 {
  --border-color: var(--callout--border-color--danger);
  --notice--color--background: var(--callout--color--background--danger);
}
._success_z7urf_159 {
  --border-color: var(--callout--border-color--success);
  --notice--color--background: var(--callout--color--background--success);
}
._info_z7urf_164 {
  --border-color: var(--color--info--tint-1);
  --notice--color--background: var(--color--info--tint-2);
}
._expanded_z7urf_169 + span {
  margin-top: var(--spacing--4xs);
  display: block;
}
._truncated_z7urf_174 {
  display: inline;
}