/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._item_gpwa2_125 {
  --segment-control--item-height: calc(var(--input--height) - 2 * var(--segment-control--padding));
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: var(--radius--3xs);
  background: transparent;
  height: var(--segment-control--item-height);
  padding: var(--segment-control--item-padding);
  font-size: var(--segment-control--font-size);
  font-weight: var(--font-weight--medium);
  line-height: 1;
  color: var(--text-color--subtle);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}
._item_gpwa2_125:focus {
  outline: none;
}
._item_gpwa2_125:focus-visible {
  outline: var(--focus--border-width) solid var(--focus--border-color);
  outline-offset: var(--spacing--5xs);
}
._item_gpwa2_125:focus-visible {
  z-index: 1;
}
._item_gpwa2_125[data-state=checked] {
  color: var(--text-color);
  background-color: var(--color--foreground--tint-2);
}
._item_gpwa2_125[data-state=checked][data-disabled] {
  background-color: var(--background--disabled);
}
._item_gpwa2_125[data-disabled] {
  cursor: not-allowed;
  color: var(--text-color--disabled);
}
@media (hover: hover) {
._item_gpwa2_125:hover:not([data-state=checked]):not([data-disabled]) {
    color: var(--text-color);
    background-color: var(--color--foreground--tint-1);
}
[role=radiogroup]:has(:focus-visible) ._item_gpwa2_125:hover:not([data-state=checked]) {
    color: var(--text-color--subtle);
    background-color: transparent;
}
}
._square_gpwa2_181 {
  width: var(--segment-control--item-height);
  padding: 0;
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._segmentControl_vfh8n_125 {
  --input--height: var(--height--md);
  --input--radius: var(--radius--3xs);
  --input--font-size: var(--font-size--sm);
  --input--padding: var(--spacing--xs);
  --segment-control--padding: var(--spacing--5xs);
  --segment-control--font-size: var(--font-size--2xs);
  --segment-control--item-padding: 0 var(--spacing--xs);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: var(--input--height);
  line-height: 1;
  vertical-align: middle;
  background-color: var(--color--foreground);
  padding: var(--segment-control--padding);
  border-radius: var(--radius--2xs);
}
._mini_vfh8n_143 {
  --input--height: var(--height--xs);
  --input--radius: var(--radius--3xs);
  --input--font-size: var(--font-size--2xs);
  --input--padding: var(--spacing--2xs);
  --segment-control--font-size: var(--font-size--3xs);
  --segment-control--item-padding: 0 var(--spacing--2xs);
}
._small_vfh8n_152 {
  --input--height: var(--height--sm);
  --input--radius: var(--radius--3xs);
  --input--font-size: var(--font-size--xs);
  --input--padding: var(--spacing--2xs);
  --segment-control--font-size: var(--font-size--3xs);
  --segment-control--item-padding: 0 var(--spacing--2xs);
}
._default_vfh8n_161 {
  --input--height: var(--height--md);
  --input--radius: var(--radius--3xs);
  --input--font-size: var(--font-size--sm);
  --input--padding: var(--spacing--xs);
  --segment-control--font-size: var(--font-size--2xs);
  --segment-control--item-padding: 0 var(--spacing--xs);
}
._large_vfh8n_170 {
  --input--height: var(--height--lg);
  --input--radius: var(--radius--2xs);
  --input--font-size: var(--font-size--sm);
  --input--padding: var(--spacing--xs);
  --segment-control--font-size: var(--font-size--xs);
  --segment-control--item-padding: 0 var(--spacing--xs);
}
._xlarge_vfh8n_179 {
  --input--height: var(--height--xl);
  --input--radius: var(--radius--2xs);
  --input--font-size: var(--font-size--md);
  --input--padding: var(--spacing--xs);
  --segment-control--font-size: var(--font-size--sm);
  --segment-control--item-padding: 0 var(--spacing--sm);
}
._group_vfh8n_188 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  gap: var(--spacing--5xs);
}
._isDisabled_vfh8n_196 {
  cursor: not-allowed;
  background-color: var(--background--disabled);
}