/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._item_1oba1_125 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing--2xs);
  cursor: pointer;
}
._item_1oba1_125:has(._description_1oba1_131) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
._item_1oba1_125:has(._control_1oba1_134[data-disabled]) {
  cursor: not-allowed;
}
._itemVertical_1oba1_138 {
  width: 100%;
}
._control_1oba1_134 {
  position: relative;
  width: var(--spacing--sm);
  height: var(--spacing--sm);
  background: var(--background--surface);
  border: var(--border);
  border-radius: var(--radius--full);
  cursor: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
._item_1oba1_125:has(._description_1oba1_131) ._control_1oba1_134 {
  margin-top: 1px;
}
._control_1oba1_134[data-disabled] {
  cursor: not-allowed;
}
._control_1oba1_134:hover:not([data-disabled]):not([data-state=checked]) {
  border-color: var(--background--brand);
}
._control_1oba1_134[data-state=checked]:not([data-disabled]) {
  background-color: var(--background--brand);
  border-color: var(--background--brand--hover);
}
._control_1oba1_134[data-disabled]:not([data-state=checked]) {
  border-color: var(--border-color--subtle);
}
._control_1oba1_134[data-disabled][data-state=checked] {
  background-color: var(--background--disabled);
  border-color: var(--background--disabled);
}
._control_1oba1_134:focus-visible {
  outline: var(--focus--border-width) solid var(--focus--border-color);
  outline-offset: var(--spacing--5xs);
}
._dot_1oba1_177 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--spacing--3xs);
  height: var(--spacing--3xs);
  border-radius: var(--radius--full);
  background-color: var(--background--surface);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
._content_1oba1_188 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--spacing--5xs);
  cursor: inherit;
  color: var(--text-color);
}
._item_1oba1_125:has(._control_1oba1_134[data-disabled]) ._content_1oba1_188 {
  cursor: not-allowed;
  color: var(--text-color--disabled);
}
._label_1oba1_200 {
  font-size: var(--radio-group-item--label--font-size, var(--font-size--sm));
  font-weight: var(--font-weight--medium);
  line-height: var(--line-height--lg);
}
._description_1oba1_131 {
  font-size: var(--font-size--2xs);
  line-height: var(--line-height--lg);
  color: var(--text-color--subtle);
}
._root_1e5zq_2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: var(--spacing--xs);
}
._vertical_1e5zq_7 {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
._horizontal_1e5zq_12 {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
