/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/* Focus State
 -------------------------- */
._tag_171xk_125 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  height: var(--tag--height);
  padding: var(--tag--padding);
  line-height: var(--tag--line-height);
  color: var(--tag--color--text);
  background-color: var(--tag--color--background);
  border: 1px solid var(--tag--border-color);
  border-radius: var(--tag--radius);
  font-size: var(--tag--font-size);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
._tag_171xk_125._clickable_171xk_140 {
  cursor: pointer;
}
._tag_171xk_125._clickable_171xk_140:hover {
  background-color: var(--tag--color--background--hover);
  border-color: var(--tag--border-color--hover);
}
._sm_171xk_148 {
  --tag--height: var(--height--2xs);
  --tag--padding: 0 var(--spacing--4xs);
  --tag--font-size: var(--font-size--2xs);
}
._md_171xk_154 {
  --tag--height: var(--height--xs);
  --tag--padding: var(--spacing--4xs) var(--spacing--2xs);
  --tag--font-size: var(--font-size--xs);
}
._lg_171xk_160 {
  --tag--height: var(--height--sm);
  --tag--padding: var(--spacing--4xs) var(--spacing--2xs);
  --tag--font-size: var(--font-size--xs);
}